{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "Get a proof of benefit letter",
    serviceUrl : "/",
    signOutHref : "signout",
    useTudorCrown: "true"
  }) }}

{% endblock %}

{% block pageTitle %}
You cannot get a proof of benefit letter using this service
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot get proof of your benefits using this service
      </h1>

      <p class="govuk-body">
        Before you can get proof of your benefits, you need to <a class="govuk-link" href="https://www.gov.uk/report-benefits-change-circumstances#:~:text=How%20to%20report%20changes">contact each benefit to correct your address (opens in a new tab)</a>.
      </p>

      <p class="govuk-body">
        You cannot change your address online yet.
      </p>
      
      <p class="govuk-body">
        You may ask for proof of your benefits when you contact each benefit to change your address.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign out",
          href: "signout"
        }) }}

        {{ govukButton({
          text: "Go back to account home",
          href: "account-home",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
