{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "Get a proof of benefit letter",
    serviceUrl : "/",
    signOutHref : "signout",
    useTudorCrown: "true"
  }) }}

{% endblock %}

{% block pageTitle %}
You cannot get a proof of benefit letter using this service
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Contact us
      </h1>

        <p>
          We cannot find a record of the benefits you currently get.
        </p>

        <p>
          If you think this is wrong, contact the benefit that pays you.
        </p>

        <p>Find the contact details for the benefit that pays you in a letter they’ve sent to you, or in <a href="https://www.nidirect.gov.uk/information-and-services/benefits-and-money/benefits-and-financial-support" class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on nidirect (opens in a new tab)</a>.

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Sign out",
            href: "signout"
          }) }}

          {{ govukButton({
            text: "Go back to account home",
            href: "account-home",
            classes: "govuk-button--secondary"
          }) }}
        </div>

    </div>
  </div>

{% endblock %}
