{% extends "layouts/main.html" %}

{% block pageTitle %}
      This email address is already registered with this service - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This email address is already registered with this service</h1>

            <p>An email address can only be used to register one person.</p>
            <p>If you have registered with this email address and know your password, <a href="sign-in">sign in</a>.</p>
            <p>If you have registered with this email address but have forgotten your password, <a href="reset-password/start">reset your password</a>.</p>
            <p>If you have not registered before, <a href="register/start">register with a different email address</a>.</p>
            
           


            <details class="govuk-details govuk-!margin-top-6" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Problems registering
                    </span>
                </summary>

                <div class="govuk-details__text">
                    <p>To get a proof of benefit letter, contact your benefit office by phone or by post.</p>

                    <p>Find their contact details in a letter they’ve sent to you, or in <a href="https://www.nidirect.gov.uk/information-and-services/benefits-and-money/benefits-and-financial-support" class="govuk-link">guidance about the benefit on nidirect (opens in a new tab)</a>.</p>
            
                    <p>To get proof of Universal Credit, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab)</a>.</p>
            
                    <p>For State Pension, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Northern Ireland Pension Centre (opens in a new tab)</a>.</p> 
                </div>
            </details>
        </div>
    </div>
{% endblock %}
