{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Get a proof of benefit letter
      </h1>

      <p>Use this service to get a proof of benefit letter for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Attendance Allowance</li>
        <li>Disability Living Allowance (DLA) for adults</li>
        <li>any type of Employment and Support Allowance (ESA)</li>
        <li>Income Support</li>
        <li>Jobseeker’s Allowance</li>
        <li>Pension Credit</li>
        <li>Personal Independence Payments (PIP)</li>
        <li>State Pension</li>
      </ul>

      <p>It can take up to one week for your letter to arrive in the post.</p>

      <h2 class="govuk-heading-m">
        When to contact us
      </h2>

      <p>You need to contact us to get a proof of benefit letter if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>need a letter for a different benefit</li>
        <li>need a letter in Welsh or an alternative format, like braille</li>
        <li>have changed address and have not updated your address with us</li>
        <li>live outside Great Britain or Northern Ireland</li>
        <li>are an appointee and manage somebody else’s benefits</li>
      </ul>

      <p>Find the contact details for the office that pays your benefit in a letter they’ve sent to you, or in <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/browse/benefits">guidance about the benefit (opens in a new tab)</a>.</p>

      <p>If you need proof of Universal Credit, <a class="govuk-link" href="https://www.gov.uk/sign-in-universal-credit">sign in to your Universal Credit account</a>.</p>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You’ll need to register if you have not used this service before.</p>
      
      <p>To register, you’ll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
        <li>your National Insurance number</li>
      </ul>

    
      <p>To keep your information secure, we will ask you security questions to prove your identity.</p>

      <h3 class="govuk-heading-s">If you have already registered</h3>

      <p>You’ll need the email address, mobile phone and password you used to register.</p>


      {{ govukButton({
        text: "Start",
        href: "how-did-you-find-out-about-this-service",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
