{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

  <div style="display: flex; justify-content: space-between;">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    {{
      hmrcLanguageSelect({
        language: 'en',
        en: {
          href: '?en'
        },
        cy: {
          href: '?cy'
        }
        })
    }}
  </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot get a proof of benefit letter using this service
      </h1>

        <p>
          You can get proof of some benefits using this service, but not all of them.
        </p>

        <p>
          This is because not all benefits are online yet.
        </p>

        <h2 class="govuk-heading-m">How to get proof of your benefits</h2>

        {% if data['oOScope'].length === 1 %}
          <p>To get proof of {{ data['oOScope'][0] }}, you need to contact them.</p>

        {% elif data['oOScope'].length === 2 %}
          <p>To get proof of {{ data['oOScope'] | formatList }}, you need to contact them.</p>

        {% elif data['oOScope'].length > 2 %}
          <p>You cannot use this service to get a proof of benefit letter for:</p>
          <ul class="govuk-list govuk-list--bullet">
              {% for benefit in data['oOScope'] %}
                <li>{{ benefit }}</li>
              {% else %}
                <p>No benefit selected</p>
              {% endfor %}    
          </ul>
          <p>You will need to contact them to get a proof of benefit letter.</p>
        {% endif %}

        {% if data['oOScope'].length > 1 %}
        <p>Find their contact details in a letter they have sent to you, or in <a href="https://www.gov.uk/browse/benefits">guidance about the benefit on GOV.UK (opens in a new tab)</a>.</p>

        {% if ('Universal Credit' in data['oOScope']) %}
          <p>To get proof of Universal Credit, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab).</a>.</p>
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Sign out",
            href: "#"
          }) }}

          {{ govukButton({
            text: "Go back to account home",
            href: "account-home",
            classes: "govuk-button--secondary"
          }) }}
        </div>

    </div>
  </div>

{% endblock %}
