{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "View your notifications",
    serviceUrl : "/",
    signOutHref : "signout",
    useTudorCrown: "true"
  }) }}

{% endblock %}

{% block pageTitle %}
My notifications
{% endblock %}


{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<style>
  .dwp-logo {max-width: 20%}
  .dwp-logo {max-height: 20%}

  .dwp-logo {
        float: right;
    }

  </style>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/get-a-proof-of-benefit-letter/download/download-notifications/notifications-draft/my-notifications-pob"
}) }}

</div>
</div>

<div class="govuk-!-padding-bottom-9"></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       
        <div class="govuk-!-padding-bottom-4"></div>

        <h1 class="govuk-heading-xl">About your notifications inbox</h1>

          <p>This is your notifications inbox.</p>

          <p>Here you will be able to view, download or print notifications you receive from the Department of Work and Pensions (DWP).</p>
      

        <h2 class="govuk-heading-l">Notifications you will receive</h2>

        <p>Currently, you will receive your proof of benefit letters from <a href="/get-a-proof-of-benefit-letter/download/download-notifications/start">Get proof of your benefits</a>.</p>
        <p>In the future, you will start receiving notifications for most of your DWP benefits and State Pension.</p>
         <p>We will update you as more notifications become available.</p>


           <h2 class="govuk-heading-l">Notifications you will not receive</h2>
 <p>You will not receive notifications related to:</p>
             <ul class="govuk-list govuk-list--bullet">
            
        <li>Universal Credit</li>
        <li>Scottish devolved benefits</li>

      </ul>

        <div class="govuk-!-padding-bottom-6"></div>
        <div class="govuk-button-group">

 <a href="/public/images/Proof of Benefit.pdf" download=""
        " 
        <button class="govuk-button" value= "true" data-module="govuk-button" style="margin-bottom:50px;" 
       </a>Download message</button></a>
       <!--
        <a class="govuk-link" href="/public/images/example-pdf.pdf">Print message</a>
        </div> -->
</div>



{% endblock %}
