{% extends "layouts/main.html" %}

{% block pageTitle %}
Sign in - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
{% include 'includes/language-toggle.njk' %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You must complete your registration before you sign in</h1>

    <p>You need a mobile phone to complete your registration. We will send a security code to your mobile phone.</p>

    <h2 class="govuk-heading-m">When you sign in for the first time</h2>

    <p>You will need information from 2 sources so we can check we are dealing with the right person. These are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a UK passport</li>
      <li>UK driving licence</li>
      <li>payslips or P60</li>
      <li>information about tax credits, if you claim them</li>
      <li>details of your credit record</li>
    </ul>

    {{ govukButton({
      text: "Complete registration",
      href: "mobile",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: FALSE
    }) }}

    <details class="govuk-details govuk-!margin-top-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems completing registration
          </span>
      </summary>

      <div class="govuk-details__text">
        <p>To get a proof of benefit letter, contact your benefit office by phone or by post.</p>

        <p>Find their contact details in a letter they’ve sent to you, or in <a href="https://www.nidirect.gov.uk/information-and-services/benefits-and-money/benefits-and-financial-support" class="govuk-link">guidance about the benefit on nidirect (opens in a new tab)</a>.</p>

        <p>To get proof of Universal Credit, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank">sign in to your Universal Credit account (opens in a new tab)</a>.</p>

        <p>For State Pension, <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-pension-centre" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Northern Ireland Pension Centre (opens in a new tab)</a>.</p> 
      </div>
  </details>
    
  
  </div>
</div>
{% endblock %}