{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "Manage your benefits and State Pension",
    serviceUrl : "/",
    signOutHref : "signout",
    useTudorCrown: "true"
  }) }}

  <div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/get-a-proof-of-benefit-letter/download/download-notifications/notifications-draft/my-notifications-pob">
              Inbox <span id="notifications" class="moj-notification-badge">
              {% if data['inScope'].length == 1 %}
              {{ 1 }}
          
          
             {% endif %}  
          
            {% if data['inScope'].length > 1 %}
              {{ data['which-benefits-need-proof'].length }}
                {% endif %} 
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}

{% block pageTitle %}
Account home
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Account home</span>
      <h1 class="govuk-heading-xl">
        Sarah Phillips
      </h1>

      <p>
        <a type="submit" data-module="govuk-button" href="list-benefits-answer">Get proof of your benefits</a>
      </p>

      <p class="govuk-body">
        <a href="personal-details" class="govuk-link">View your personal details</a>
      </p>

</div>
</div>

{% endblock %}
