{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "Get a proof of benefit letter",
    serviceUrl : "/",
    signOutHref : "signout",
    useTudorCrown: "true"
  }) }}

{% endblock %}

{% block pageTitle %}
Where we send your letters
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="do-you-need-letter" method="post">

        {% if data['inScope'].length > 0 %}
        <h1 class="govuk-heading-l" >Email address we will send your letters to</h1>
        {% else %}
        <h1 class="govuk-heading-l" >Email address we will send your letter to</h1>
        {% endif %}

        <p>Your address is saved as:</p>

        <div class="govuk-inset-text">
          sarah.phillips@example.com
        </div>

        {{ govukRadios({
          name: "confirmEmailSend",
          fieldset: {
            legend: {
              text: "Is your email correct?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}