{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "Get a proof of benefit letter",
    serviceUrl : "/",
    signOutHref : "signout",
    useTudorCrown: "true"
  }) }}

{% endblock %}

{% block pageTitle %}
Request complete
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Request complete
        </h1>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <!-- ----------- -->
      {% if data['inScope'].length === 1 %}
        <p>You have requested proof of {{ data['inScope'] }}.</p>


        {% if data['needEmail'] === "yes" %}
        <p>We have emailed you a link to access proof of your benefits. The document will be available for 6 months before it is deleted.</p>
        {% endif %}

        {% if data['needLetter'] === "yes" %}
        <p>Your letter should arrive in the post within one week.</p>
        {% endif %}

      {% endif %}


      {% if data['which-benefits-need-proof'].length == 1 %}
        <p>You have requested proof of {{ data['which-benefits-need-proof'] }}.</p>

        {% if data['needEmail'] === "yes" %}
        <p>We have emailed you a link to access proof of your benefits. The document will be available for 6 months before it is deleted.</p>
        {% endif %}

        {% if data['needLetter'] === "yes" %}
        <p>Your letter should arrive in the post within one week.</p>
        {% endif %}

      {% elif data['which-benefits-need-proof'].length == 2 %}
        <p>You have requested proof of benefit letters for {{ data['which-benefits-need-proof'] | formatList }}.</p>

        {% if data['needEmail'] === "yes" %}
        <p>We have sent you individual emails for each benefit. Your emails will have links to access proof of your benefits. Each document will be available for 6 months before it is deleted.</p>
        {% endif %}

        {% if data['needLetter'] === "yes" %}
        <p>Letters for each benefit should arrive separately in the post within one week.</p>
        {% endif %}

      {% elif data['which-benefits-need-proof'].length > 2 %}
        <p>You have requested proof of:</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for benefit in data['inScope'] %}
              <li>{{ benefit }}</li>
          {% else %}
              <p>No benefit selected</p>
          {% endfor %}    
        </ul>

        {% if data['needEmail'] === "yes" %}
        <p>We have sent you individual emails for each benefit. Your emails will have links to access proof of your benefits. Each document will be available for 6 months before it is deleted.</p>
        {% endif %}

        {% if data['needLetter'] === "yes" %}
        <p>Letters for each benefit should arrive separately in the post within one week.</p>
        {% endif %}
      
      {% endif %}

      {% if data['oOScope'].length === 1 %}
        <h2 class="govuk-heading-m">
          How to get proof of your other benefits
        </h2>

        <p>Find the contact details for {{ data['oOScope'][0] }} in a letter they have sent to you, or in <a href="https://www.gov.uk/browse/benefits" class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a new tab)</a>.</p>

      {% elif data['oOScope'].length === 2 %}
        <h2 class="govuk-heading-m">
          How to get proof of your other benefits
        </h2>

        <p>Find the contact details for {{ data['oOScope'] | formatList }} in letters they have sent to you, or in <a href="https://www.gov.uk/browse/benefits" class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a new tab)</a>.</p>


      {% elif data['oOScope'].length > 2 %}
        <h2 class="govuk-heading-m">
          How to get proof of your other benefits
        </h2>

        <p>You will need to contact each benefit to get proof of:</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for benefit in data['oOScope'] %}
              <li>{{ benefit }}</li>
            {% else %}
              <p>No benefit selected</p>
            {% endfor %}    
        </ul>
        <p>Find their contact details in letters they have sent to you, or in <a href="https://www.gov.uk/browse/benefits" class="govuk-link" rel="noreferrer noopener" target="_blank">guidance about the benefit on GOV.UK (opens in a new tab)</a>.</p>

      {% endif %}


      {% if data['uCBenefit'] == true %}
        {% if data['oOScope'].length === 0 %}
        <h2 class="govuk-heading-m">
          How to get proof of your other benefits
        </h2>
        
        <p>To get proof of Universal Credit, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank"> sign in to your Universal Credit account (opens in a new tab)</a>.</p>

        {% else %}
        <p>To get proof of Universal Credit, <a href="https://www.gov.uk/sign-in-universal-credit" class="govuk-link" rel="noreferrer noopener" target="_blank"> sign in to your Universal Credit account (opens in a new tab)</a>.</p>
        {% endif %}
      {% endif %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign out",
          href: "signout"
        }) }}

        {{ govukButton({
          text: "Go back to account home",
          href: "account-home",
          classes: "govuk-button--secondary"
        }) }}
      </div>

  </div>
</div>

{% endblock %}