{% extends "layouts/main.html" %}

{% block header %}

  {{ hmrcHeader({
    serviceName: "Get a proof of benefit letter",
    serviceUrl : "/",
    useTudorCrown: "true"
  }) }}

{% endblock %}

{% block pageTitle %}
We are taking you to our identity checking service
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../OIDV/register/start" method="post">
        
        <h1 class="govuk-heading-l">
          We are taking you to our identity checking service
        </h1>

        <p>To keep your information secure, you’ll need to register or sign in before you can access your details.</p>

        <h2 class="govuk-heading-m">If you have registered before</h2>

        <p>You may have registered for our identity checking service before if you have signed in to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Access to Work</li>
          <li>Apply for Personal Independence Payment (PIP)</li>
          <li>Manage your State Pension</li>
          <li>Repay and manage benefit money you owe (only if you registered before 1 December 2024)</li>
        </ul>
        
        <p>To sign in, you will need to use the same email address and password that you used to access these services.</p>

        <h2 class="govuk-heading-m">If you have not registered</h2>

        <p>We will ask you security questions to confirm your identity before registering.</p>

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
