{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {{ govukRadios({
          name: "howToSendEmail",
          fieldset: {
            legend: {
              text: "Tell us how to send your letter",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "email",
              text: "Email",
              hint: {
                text: "Get an online copy of your letter in an email within minutes"
              }
            },
            {
              value: "post",
              text: "Post",
              hint: {
                text: "Get a printed letter in post within one week"
              }
            },
            {
              value: "email and post",
              text: "Email and post",
              hint: {
                text: "Get both an instant email and a printed letter"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
