{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="enter-email-answer" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="emailInput">
              Enter your email address
            </label>
          </h1>
          <div id="emailInput-hint" class="govuk-hint">
            We will use this email to send you a link to your proof of benefit letter. We will not save or reuse it.
          </div>
          <input class="govuk-input" id="emailInput" name="emailInput" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>



        <div class="govuk-inset-text">
          <p class="govuk-body govuk-!-margin-bottom-2" style="color:#505a5f">The email address we’ll send the letters to:</p>
          <p class="govuk-body govuk-!-font-weight-bold" id="emailInsetConfirm"></p>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
        



      </form>

    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Select the input field, paragraph element, and inset text div
      const emailInput = document.getElementById('emailInput');
      const emailInsetConfirm = document.getElementById('emailInsetConfirm');
      const emailInsetText = document.getElementById('emailInsetText');
  
      // Add an event listener to detect input changes
      emailInput.addEventListener('input', function () {
        const inputValue = emailInput.value;
  
        // Update the paragraph's text content with the input value
        emailInsetConfirm.textContent = inputValue;
  
      });
    });
  </script>

{% endblock %}
